/* Root Styles */
:root {
  --primary-color: #274c5b;
  --secondary-color: #7eb693;
  --secondary-color-hover: #1b8943;
  --background-color: #fafafa;
  --head-font-family: 'Kufam', sans-serif;
  --normal-font-family: 'Roboto', sans-serif;
  --stylish-font-family: 'Yellowtail', cursive;
  --font-size: 16px;
}

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");

/* icons import */
@import "~@flaticon/flaticon-uicons/css/all/all";
