/* Root Styles */
:root {
  --primary-color: #274c5b;
  --secondary-color: #7eb693;
  --secondary-color-hover: #1b8943;
  --tertiary-color: #68a47f;
  --button-color: #efd372;
  --background-color: #fafafa;
  --text-color: #525C60;
  --head-font-family: "Kufam", sans-serif;
  --normal-font-family: "Roboto", sans-serif;
  --stylish-font-family: "Yellowtail", cursive;
  --text-font-family: 'Open Sans', sans-serif;
  --font-size: 16px;
}

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* icons import */
@import "~@flaticon/flaticon-uicons/css/all/all";
